.bg__messages {
  background: #7cb3f5;

  display: grid;

  grid-template-areas:
          "dialogs messages ";

  grid-template-columns: 4fr 10fr;

  height: 100%;

}

.dialogs__item {
  grid-area: dialogs;

  padding: 20px 0 20px 20px;


}

.card_item{
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 5px;
}

.photo{

}

.img{
  width: 50px;
  height: 50px;
  border-radius: 20px;

}

.dialog{


}

.dialog.active {
  color: red;
}


.messages {
  grid-area: messages;
  background: #e3e3e3;
  padding: 20px 0 20px 20px;
}

.message__item {
  padding: 5px;
}



