.bg__messages {
  background: #3d5294;

  display: grid;

  grid-template-areas:
          "dialogs messages ";

  grid-template-columns: 2fr 10fr;
}

.dialogs__item {
  grid-area: dialogs;

  background: #ffffff;
  padding: 20px 0 20px 20px;

}

.dialog{
  color: black;
}

.dialog.active {
  color: red;
}


.messages {
  grid-area: messages;
  background: #ff0000;
  padding: 20px 0 20px 20px;
}

.message__item{

}