.bg__messages {
  background: #3d5294;

  display: grid;

  grid-template-areas:
          "dialogs messages ";

  grid-template-columns: 4fr 10fr;
}

.dialogs__item {
  grid-area: dialogs;

  background: #7cb3f5;
  padding: 20px 0 20px 20px;

}

.card_item{
  display: flex;
  align-items: center;

}

.photo{


}

.img{
  width: 50px;
  height: 50px;
  object-fit: cover;

}

.dialog{
  color: black;

}

.dialog.active {
  color: red;
}


.messages {
  grid-area: messages;
  background: #e3e3e3;
  padding: 20px 0 20px 20px;
}

.message__item {
  padding: 5px;
}



.img{
  background: #000;
  padding: 5px;
}