

.navbar{
  grid-area: navbar;

  background: #3d5294;

  height: 100%;

}


ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li{
  color:white;
  list-style-type: none;
  font-size: 18px;
  font-weight: 700;
}

li{
  list-style-type: none;
}

.navbar__item {
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.active {
  color: #8bd0ee;
}

.photo_friend{
  max-width: 50px;
  max-height: 50px;
  border-radius: 20px;

}

.title__friends{
  padding-left: 15px;
}

.friends{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

.cards_items{

}

.card_item{
  display: flex;
  flex-direction: column;
}

