
.old__post__item{
  background: #ffffff;
  color: #3d5294;
  width: 40%;
  border-radius: 20px;

  padding: 20px;

  transition: all 0.5s;

  &:hover {
      transform: scale(1.03);
  }
}



.like{
  background: #b9beb9;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  color: #6b1eb4;

  transition: all 0.5s;

  &:hover {
    transform: scale(1.03);
  }

}


.active{
  background: #b9beb9;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  color: green;


  &:hover {
    transform: scale(1.03);
  }
}

